---

---

<section
  class="flex flex-col max-w-4xl mx-auto items-center justify-center py-16"
>
  <div class="grid lg:grid-cols-5 lg:grid-rows-5 gap-2">
    <div class="lg:col-span-2 lg:row-span-5">
      <img
        src="/src/assets/images/jeandp.webp"
        alt="Jean Carlos Del Portillo"
        class="rounded-bl-2xl rounded-tl-2xl w-65 h-65  shadow-lg"
      />
      <div class="flex flex-row justify-around items-center mr-20">
        <a href="https://github.com/jeanca9711" rel="noopener" target="_blank" class="rounded-full bg-gray-800 p-2 mt-4 hover:scale-110 transition-transform duration-300 w-15 h-15">
          <img
            src="/src/assets/svg/github.svg"
            alt="Github"
          />
        </a>
        <a href="https://github.com/jeanca9711" rel="noopener" target="_blank" class="rounded-full bg-gray-800 p-2 mt-4 hover:scale-110 transition-transform duration-300 w-15 h-15">
          <img
            src="/src/assets/svg/github.svg"
            alt="Github"
          />
        </a>
        <a href="https://github.com/jeanca9711" rel="noopener" target="_blank" class="rounded-full bg-gray-800 p-2 mt-4 hover:scale-110 transition-transform duration-300 w-15 h-15">
          <img
            src="/src/assets/svg/github.svg"
            alt="Github"
          />
        </a>
      </div>
    </div>
    <div class="lg:col-span-3 lg:row-span-5 lg:col-start-3">
      <h1 class="text-3xl font-extrabold">Jean Carlos Del Portillo</h1>
      <p class="font-thin italic">
        Ingeniero de Sistemas - Desarrollador Backend
      </p>
      <div class="prose prose-invert">
        <p>
          Desarrollador Web Backend con sólidos conocimientos en PHP bajo
          frameworks MVC como Yii2, Codeigniter y Laravel. Administración de base
          de datos y manejo de PL/SQL con Oracle, SQLServer y MySQL.
        </p>
        <p>
          También tengo experiencia en el diseño de reportes a nivel gerencial con
          POWER BI, uso de lenguaje DAX.
        </p>
        <p>
          Tengo más de 5 años de experiencia en el
          sector TI, Me caracterizo por mi gran carisma y puesta en el marco
          laboral. me apasiona la informática y estar siempre en constante
          aprendizaje.
        </p>
      </div>
    </div>
  </div>
</section>
<p></p>
